h1 {
	color: red;
	font-family: Georgia, serif;
	font-size: 90px;
}

h2 {
	color: rgb(255,0,255);
	font-family: Palatino, 'Palatino Linotype', serif;
}

h3 {
	color: #0000ff;
}

.change {
	font-family: Arial, serif;
}

.change p {
	font-size: 2rem;
	color: green;
}

p {
	color: black;
	font-size: 32px;
}

body{
	background-size: cover;
}

nav li {
	display: inline;
}

nav ul li {
	border: 2px solid black;
}



